body
{
  box-sizing: border-box;
}
#shops
{
    display:grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.shop
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    border: 2px solid black;
    flex-direction: column;
}