@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'poppins',sans-serif;
}

/* Global tag */

h1{
    font-size: 4.5rem;
    font-weight: 700;
    color: #1FA84F;
}
span{
    font-size: 1.6rem;
    color:#1FA84F ;
}
h1
{
    font-size: 1.1rem;
    color: rgb(24,24,49);
}

/*navigation */

nav
{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav img{
    height: 60px;
    width: 260px;
    cursor: pointer;
}
nav .navigation ul
{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
nav .navigation ul li
{
    list-style-type: none;
    margin-left: 30px;
}
nav .navigation ul li a
{
    color: #5E5E5E;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s ease;
}
nav .navigation ul li a:hover
{
    color: #1FA84F;
}

/* home */

#home
{
    background-image:url("./back.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}
#home h2
{
    color:black;
    font-size: 3.0rem;
    letter-spacing: 1px;   
}
#home p
{
    width: 80%;
    color:#014017;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 25px;
    flex-wrap: wrap;
}
#home a
{
    border: 1px solid black;
    padding: 13px 35px;
    font-size: 1.1rem;
    background-color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
}
#home .btn
{
    margin-top: 30px;
}
#home .btn .green
{
    background-color: #1FA84F;
color: black;
border-width: 4px;
transition: 0.3s ease;
}
#home .btn .green:hover
{
    background-color:#fff;
    color:#014017;
    border-style:inset;
    border-color: #1FA84F;
}
#home .btn .grey
{
    background-color: grey;
color: black;
border-width: 4px;
transition: 0.3s ease;
}
#home .btn .grey:hover
{
    background-color:#1FA84F;
    color:black;
    border-style:inset;
    border-color: black;
}

/* features */

#features h1
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #1FA84F;
}
#features .para
{
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 20px;
}
#features .main-div
{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 50px
}
#features .firstdiv
{
    display: flex;
   margin: 0 30px;
   padding:10px 40px;
    flex-direction: column;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.firstdiv i
{
    font-size: 40px;
    color: #1FA84F;
}
.firstdiv h3
{
    font-size: 25px;
    padding-top: 15px;
}
.firstdiv p
{
    font-size: 17px;
    font-weight: 300;
    padding-top: 15px;
}



